<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.techventus.timefly"
		android:versionCode="6"
		android:versionName="1.5">
	<uses-sdk
			android:minSdkVersion="8"
			android:targetSdkVersion="18"/>
	<application
			android:allowBackup="true"
			android:icon="@drawable/timeflylogo"
			android:label="@string/app_name"
			android:theme="@style/AppBaseTheme">
		<activity
				android:name="com.techventus.timefly.TabViewPagerFragmentActivity"
				android:label="@string/app_name"
				android:configChanges="orientation|keyboardHidden"/>
		<activity
				android:name="com.techventus.timefly.CalendarActivity"
				android:label="@string/app_name"
				android:configChanges="orientation|keyboardHidden"/>
		<activity
				android:name="com.techventus.timefly.Splash"
				android:label="@string/app_name"
				android:configChanges="orientation|keyboardHidden"
				>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name="com.techventus.timefly.PerformingHabbit"
				android:label="@string/app_name"
				android:windowSoftInputMode="adjustResize"
				android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="com.techventus.timefly.updatetimervisual" />
			</intent-filter>
		</activity>
		<activity
				android:name="com.techventus.timefly.GoalProgressActivity"
				android:label="@string/app_name"
				android:windowSoftInputMode="adjustResize"
				android:configChanges="orientation|keyboardHidden">
		</activity>
		<service android:name=".TimerService" >

		</service>
		<!--<receiver android:name=".TimerServiceReceiver" >-->
			<!--<intent-filter>-->
				<!--<action android:name="com.techventus.timefly.updatetimersettings" />-->
			<!--</intent-filter>-->
		<!--</receiver>-->

	</application>
</manifest>
